@page
@model ASP_Razor.Pages_Authors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Authors</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Authors.AuthorID" />
            <div class="form-group">
                <label asp-for="Authors.AuthorName" class="control-label"></label>
                <input asp-for="Authors.AuthorName" class="form-control" />
                <span asp-validation-for="Authors.AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authors.Email" class="control-label"></label>
                <input asp-for="Authors.Email" class="form-control" />
                <span asp-validation-for="Authors.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./IndexAuthor">Quay lại danh sách tác giả </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
